@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
:root {
  font-family: 'Ubuntu', sans-serif;
}
:root {
  --determination: #fc0303;
  --save-point: #f8fc03;
  ---downto-thebone: #fcfcfc;
  --darker-yetdark: #050000;
  --ruler-box: #19731c;
}
.corpo {
  width: 90vw;
  height: auto;
  margin: auto;
  background-image: url(/img/another-him027.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  color: var(---downto-thebone);
}
.cabecario {
  background-color: var(--darker-yetdark);
  margin-bottom: 5vh;
  height: 100px;
}
.navegador a {
  font-size: 3rem;
  line-height: 2.0;
  padding-left: 20px;
  color: var(--save-point);
  text-decoration: none;
}
.navegador ul {
  display: flex;
  justify-content: left;
  padding-left: 10px;
  padding-right: 10px;
}
.titulo {
  font-size: 2.5rem;
  line-height: 1.4;
  color: var(--save-point);
}
.subtitulo {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--save-point);
}
.paragrafo {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(---downto-thebone);
  text-align: left;
}
.paragrafo-coluna {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(---downto-thebone);
  text-align: center;
}
.destaque {
  font-size: 1rem;
  color: var(--determination);
}
.area1 {
  width: 90vw;
  height: auto;
  display: flex;
  color: var(--darker-yetdark);
  justify-content: space-around;
}
.principal {
  width: 65vw;
  height: auto;
  display: flex;
  justify-content: left;
}
.principal-sobre {
  width: 90vw;
  height: auto;
  display: flex;
  justify-content: center;
}
.coluna {
  padding-left: 5vw;
  width: 20vw;
  height: auto;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: left;
  text-align: left;
}
.artigo {
  width: 60vw;
  height: auto;
  border: 5px;
  border-style: solid;
  border-color: var(--ruler-box);
  background-color: var(--darker-yetdark);
  padding: 3vw;
}
.artigo p {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(---downto-thebone);
}
.artigo-sobre {
  width: 60vw;
  height: auto;
  border: 5px solid var(--ruler-box);
  padding: 3vw;
  background-color: var(--darker-yetdark);
}
.artigo-sobre p {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(---downto-thebone);
}
.artigo-coluna {
  border: 5px solid var(--ruler-box);
  padding: 1vh;
  background-color: var(--darker-yetdark);
}
.rodape {
  margin-top: 5vh;
  background-color: var(--darker-yetdark);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
}
.rodape a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--determination);
}
